<div class="container mtb">
    <h3 class="mb-3">{{ include.title }}</h3>


    <div class="row">
        <div class="col-md-4">Name</div>
        <div class="col-md-2">Type</div>
        <div class="col-md-2">Expiration</div>
        <div class="col-md-4">Entity</div>

    </div>
    <div class="row">
        <div class="col-md-4"><hr></div>
        <div class="col-md-2"><hr></div>
        <div class="col-md-2"><hr></div>
        <div class="col-md-4"><hr></div>
    </div>

    {% for cookie in include.source %}

    <div class="row">
        <div class="col-md-4"><code>{{ cookie.name }}</code></div>
        <div class="col-md-2">{{ cookie.type }}</div>
        <div class="col-md-2">{{ cookie.expiration }}</div>
        <div class="col-md-4">{{ cookie.entity }}</div>
    </div>

    <div class="row">
        <div class="col-md-12">
            {{ cookie.description }}
            Further information:
            <ul>
            {% for link in cookie.links %}
                <li> <a href="https://{{ link }}">{{ link }}</a></li>
            {% endfor %}
            </ul>
        </div>
    </div>

    {% endfor %}
</div>
