<div class="row justify-content-center align-items-center p-4">
  <div class="col-lg-4 col-md-6 text-center mt-4">

    <!-- Fine Circle Responsive Image -->
    <div id="container" class="my-2">
      <div id="dummy"></div>
      <div id="element">
          <img src="/assets/img/{{ include.image-name }}"
               alt="{{ include.image-title | default: photo }} by {{ include.image-author }} on {{ include.image-source }}"
               class="circle-image wow animated zoomIn"
               data-wow-delay=".1s"
               data-toggle="popover"
               data-placement="auto"
               data-animation="true"
               title="picture by {{ include.image-author }} on {{ include.image-source }}"
          >
      </div>
    </div>

    <p class="text-muted wow animated slideInUp" data-wow-delay=".15s">{{ site.data.ui-text[page.lang]["description"] }}</p>

  </div>
</div>
