<nav class="navbar navbar-expand-lg {{ include.config }}">
    <div class="container">
        {% assign title-main = site.title | split: " " %}
        <a class="navbar-brand navbar-dark" href="{{ site.baseurl }}/{% if page.lang != site.defaults[0].values.lang %}{{page.lang}}{% endif %}">{{ title-main[0] }} {{ title-main[1] }}</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav ml-auto">
                <!-- Pages names in menu -->
                {% assign pages = site.html_pages | where: "lang", page.lang | sort: "weight" %}
                {% for site_page in pages %}
                {% if site_page.title %}
                <a class="nav-item nav-link {% if page.url contains site_page.permalink %} active {% endif %}"
                   href="{% if site_page.external_url %} {{ site_page.external_url }} {% else %} {{ site_page.permalink | relative_url }} {% endif %}">
                    {{ site_page.title }}
                </a>
                {% endif %}
                {% endfor %}
                <!-- Languages -->
                {% assign posts=site.posts | where: "uid", page.uid | sort: "lang" %}
                {% if posts.size == 0 %}
                {% assign posts=site.pages | where: "uid", page.uid | sort: "lang" %}
                {% endif %}

                <div class="btn-group">
                    <button class="btn btn-sm btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{ page.lang }}
                    </button>
                    <div class="dropdown-menu dropdown-menu-right">
                        {% for post in posts %}
                        {% if post.lang != page.lang %}
                        <a class="dropdown-item" href="{{ site.base-url }}{{ post.url }}">{{ site.data.ui-text[post.lang].lang }}</a>
                        {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
</nav>
