<nav class="navbar navbar-expand-lg {{ include.config }}">
    <div class="container">
        {% assign title-main = site.title | split: " " %}
        <a class="navbar-brand navbar-dark" href="{{ site.baseurl }}/">{{ title-main[0] }} {{ title-main[1] }}</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav ml-auto">
                {% assign pages = site.html_pages | where: "lang", page.lang | sort: "weight" %}
                {% for site_page in pages %}
                {% if site_page.title %}
                <a class="nav-item nav-link {% if page.url contains site_page.permalink %} active {% endif %}"
                   href="{% if site_page.external_url %} {{ site_page.external_url }} {% else %} {{ site_page.permalink | relative_url }} {% endif %}">
                    {{ site_page.title }}
                </a>
                {% endif %}
                {% endfor %}
            </div>
        </div>

        {% assign posts=site.posts | where: "uid", page.uid | sort: "lang" %}
        {% if posts.size == 0 %}
          {% assign posts=site.pages | where: "uid", page.uid | sort: "lang" %}
        {% endif %}

        <div class="lang">
            <ul>
                {% for post in posts  %}
                <li><a class="{{ post.lang }}" href="{{ site.base-url }}{{ post.url }}">{{ post.lang }}</a></li>
                {% endfor %}
            </ul>

        </div>
    </div>
</nav>
