.link-after {
    content: '';
    display: block;
    height: .1em;
    background: #e24005;
}

.nav-link, .navbar-brand {
    &::after {
        @extend .link-after;
        width: 0;
        transition: width .2s;
    }

    &:hover::after {
        width: 100%;
    }
}

.nav-item.active {
    font-weight: bold;

    &::after {
        @extend .link-after;
        width: 100%!important;
    }
}

.fixed-top {
    background-color: #000000d0;
}

.navbar-brand {
    font-weight: bold;
    font-size: x-large;
    margin-bottom: -14px;
    &::after {
        margin-top: -.25em;
    }
}
