@charset "utf-8";

// Custom Fonts

@font-face {
    font-family: "HKGrotesk", sans-serif;
    font-style: normal;
    font-weight: 700;
    src: url("/assets/fonts/hk-grotesk/HKGrotesk-Bold.otf");
}


@font-face {
    font-family: "HKGrotesk", sans-serif;
    font-style: normal;
    font-weight: 400;
    src: url("/assets/fonts/hk-grotesk/HKGrotesk-Regular.otf");
}


@font-face {
    font-family: "HKGrotesk", sans-serif;
    font-style: italic;
    src: url("/assets/fonts/hk-grotesk/HKGrotesk-Italic.otf")
}


@font-face {
    font-family: "Source Code Pro", monospace;
    font-style: normal;
    src: url('https://fonts.googleapis.com/css?family=Source+Code+Pro:300,700');
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import "variables",
        "base",
        "navbar",
        "projects",
        "articles",
        "autumn",
        "skills",
        "timeline",
        "404";
