@charset "utf-8";

// Custom Fonts

@font-face {
    font-family: "Rubik";
    src: url("/assets/fonts/rubik/Rubik-Regular.ttf");
}

@font-face {
    font-family: "HKGrotesk";
    src: url("/assets/fonts/hk-grotesk/HKGrotesk-Regular.otf");
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import "variables",
        "base",
        "navbar",
        "projects",
        "articles",
        "autumn",
        "skills",
        "timeline",
        "404";
