@charset "utf-8";

// Custom Fonts
// NOTE: font-face should be added to the stylesheet before any other style!
@font-face {
    font-family: "HKGrotesk";
    font-style: normal;
    font-weight: bold;
    src: url("/assets/fonts/hk-grotesk/HKGrotesk-Bold.otf");
}


@font-face {
    font-family: "HKGrotesk";
    font-style: normal;
    font-weight: normal;
    src: url("/assets/fonts/hk-grotesk/HKGrotesk-Regular.otf");
}


@font-face {
    font-family: "HKGrotesk";
    font-style: italic;
    src: url("/assets/fonts/hk-grotesk/HKGrotesk-Italic.otf")
}


@font-face {
    font-family: "Source Code Pro";
    font-style: normal;
    src: url('https://fonts.googleapis.com/css?family=Source+Code+Pro:300,700');
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import "variables",
        "base",
        "navbar",
        "projects",
        "articles",
        "autumn",
        "skills",
        "timeline",
        "404";
