/* Header */
#blue {
        background: $site-colors-primary;
        margin-top: 60px;
        margin-bottom: 60px;
        padding-top: 25px;
        padding-bottom: 25px;
}

#blue h3 {
        color: white;
        margin-left: 15px;
}

#headerwrap {
        background-color: $site-colors-primary;
        min-height: 0px;
        padding-top: 100px;
        padding-bottom: 50px;
        text-align: center;
}

#headerwrap h3, h5 {
        color: white;
        font-weight: 400;
}

#headerwrap h1 {
        color: white;
        margin-bottom: 25px;
}

#headerwrap .img-responsive {
        margin: 0 auto;
}
