$site-colors-primary: #00b3fe;
$site-colors-primary-tpl6: rgba(0,179,254,.9);
$site-colors-primary-twrapback: rgba(0,179,254,.8);
$site-colors-secondary: #384452;
$site-colors-link: #428bca;
$site-colors-link_hover: #01b2fe;
$site-colors-footer-heading: #ffffff;
$site-colors-footer-content: #bfc9d3;
